.c-citazione {
	background-color: #fff;
	padding: vwd(20) 0;
	margin: vwd(30) 0;

	&__contenuto {
		&--immagine {
			width: 80%;
		}
	}
	&__testo {
		font-style: italic;
		font-family: $font-serif;
		font-weight: 300;
	}
	&__fonte {
		text-align: right;
		font-size: vwd(18);
	}
	&__immagine {
		width: 15%;
	}
}

@include mq-max(bk('tab-down')) {
	.c-citazione {
		padding: vwm(20) 0;
		margin: vwm(30) 0;
		&__fonte {
			font-size: vwm(18);
		}
	}
}