.c-hero {
	height: vwd(750);
	background-size: cover;
	background-position: center;
	color: #fff;
	&__container {
		display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
	}
	&__sopratitolo {
		text-transform: uppercase;
		font-weight: 300;
		font-family: $font-default;
	}
	&__titolo {
		font-size: vwd(40);
		text-align: center;
		display: inline-flex;
		color:$blu_scuro;
		flex-direction: column;
    align-items: center;
		color: #fff;
		&:after {
			content: "";
			display: block;
			height: vwd(3);
			width: vwd(100);
			background: $bianco;
			margin-top: vwd(10);
		}
	}
}

@include mq-max(bk('tab-down')) {
	.c-hero {
		height: vwm(320);
		&__titolo {
			font-size: vwm(40);
			&:after {
				height: vwm(3);
				width: vwm(100);
				margin-top: vwm(10);
			}
		}
	}
}