.c-hero {
	height: vwd(750);
	background-size: cover;
	background-position: center;
	color: #fff;
	&__container {
		display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
	}
	&__sopratitolo {
		text-transform: uppercase;
		font-weight: 300;
	}
	&__titolo {
		font-size: vwd(40);
		text-align: center;
		display: inline-flex;
		color:$blu_scuro;
		flex-direction: column;
    align-items: center;
		color: #fff;
		&:after {
			content: "";
			display: block;
			height: vwd(3);
			width: vwd(100);
			background: $bianco;
			margin-top: vwd(10);
		}
	}
}