/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: $font_default, sans-serif;
  background-color: $bianco;
  color: $nero;
  position: relative;
  overflow-x: hidden;
  margin: 0 !important;
  font-size: vwd(24);
  line-height: 1.2;
  @include mq-max(bk('tab-down')) {
    font-size: vwm(24);
  }
}

main {
  position: relative;
  overflow-x: hidden;
  padding-top: vwd(90);
  min-height: calc(100vh - #{vwd(120)});
  @include mq-max(bk('tab-down')) {
    padding-top: vwm(60);
  }
}

a {
  color: $nero;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  display: block;
  font-size: vwd(48);
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 900;
  font-family: $font-serif;
}

h2 {
  display: block;
  font-size: vwd(36);
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 900;
  font-family: $font-serif;
}

h3 {
  display: block;
  font-size: vwd(28);
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 900;
  font-family: $font-serif;
}

h4 {
  display: block;
  font-size: vwd(24);
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 900;
  font-family: $font-serif;
}

h5 {
  display: block;
  font-size: vwd(20);
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 900;
  font-family: $font-serif;
}

h6 {
  display: block;
  font-size: vwd(18);
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 900;
  font-family: $font-serif;
}

p {
  line-height: 1.25;
  margin-bottom: 1.5em;
  font-weight: 400;
  font-size: vwd(24);
  &:last-child {
    margin-bottom: 0;
  }
}

b, strong {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

@include mq-max(bk('tab-down')) {

  h1 {
    font-size: vwm(48);
  }
  
  h2 {
    font-size: vwm(36);
  }
  
  h3 {
    font-size: vwm(28);
  }
  
  h4 {
    font-size: vwm(24);
  }
  
  h5 {
    font-size: vwm(20);
  }
  
  h6 {
    font-size: vwm(18);
  }
  
  p {
    font-size: vwm(24);
  }
}
